.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: var(--navy-dark);
}

/* Fade transitions */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

